*-pak
*.a
*.cache
*.cc
*.dSYM
*.deb
*.dir
*.hh
*.log
*.m4
*.o
*.output
*.swp
*.tgz
*.trs
*.txt
*_test
*~
.DS_Store
.deps/
.dirstamp
.idea/
.libs/
/include
Makefile
Makefile.in
atconfig
atlocal
autom4te.cache
build_*
cmake-build-debug/
compile
config.*
configure
debian/changelog
depcomp
doc
env
file*
install-sh
interfaces/souffle-compilelib
libsouffle*
libtool
ltmain.sh
missing
packaging/*
prof
profiler_html/
souffle
souffle-*
souffle-*.*.*
stamp-h1
test-driver
testsuite
